certifi==2026.7.22
charset-normalizer==3.4.9
DateTime==6.0
duckdb==1.5.5
idna==3.18
numpy==2.5.1
pandas==3.0.5
python-dateutil==2.9.0.post0
pytz==2026.3.post1
requests==2.34.2
six==1.17.0
urllib3==2.7.0
zope.interface==8.5
dbt-duckdb
